<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hin't :<</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>hi :></h1>
    <br>
    <div class="clu">
       <a href="<%= locals.baseUrl %>calc-subnet"><h4>Calcolatore SubnetMak</h4></a>
       <a href=""><h4>Convertitore Numerico</h4></a>
    </div>
</body>
</html>